In [1]:
# Got the csv of the data from wunderground.com
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import csv 
import dateutil

In [2]:
dfWeather= pd.read_csv('Data/Weather NYC 2016.csv')

In [4]:
dfWeather.head()
dfWeather = dfWeather.fillna('Normal')
dfWeather.head()

         Date  DateVal  Temp Conditions
0  01/01/2016        1    38     Normal
1  01/02/2016        2    36     Normal
2  01/03/2016        3    40     Normal
3  01/04/2016        4    25     Normal
4  01/05/2016        5    20     Normal

In [5]:
dfWeather.to_csv('Data/WeatherData2016Clean.csv')